# -------------------------------------------------- ----------------
# .gitignore
# Минимальный Git
# https://salferrarello.com/starter-gitignore-file/
# версия 20221125
#
# Из корня вашего проекта запустите
# завиток -O https://gist.githubusercontent.com/salcode/10017553/raw/.gitignore
# чтобы скачать этот файл
#
# Этот файл предназначен для общего веб-проекта, он
# НЕ оптимизирован для проекта WordPress. Видеть
# https://gist.github.com/salcode/b515f520d3f8207ecd04
# для конкретного .gitignore WordPress
#
# Этот файл указывает намеренно неотслеживаемые файлы, которые следует игнорировать
# http://git-scm.com/docs/gitignore
#
# ПРИМЕЧАНИЯ:
# Цель файлов gitignore — гарантировать, что определенные файлы не
#, отслеживаемые Git, остаются неотслеживаемыми.
#
# Чтобы игнорировать незафиксированные изменения в файле, который уже отслеживается,
# используйте `git update-index --assume-unchanged`.
#
# Чтобы прекратить отслеживание файла, который отслеживается в данный момент,
# используйте `git rm --cached`
#
# Журнал изменений:
# 20221125 игнорировать каталог /dist
#           unignore /.git-blame-ignore-revs
# 20220720 игнорировать каталог /build
# 20220128 игнорировать .nvmrc
# 20210211 игнорировать .env.example
# 20190705 игнорировать личные/секретные файлы
# 20181206 удалить конечные пробелы
# 20180714 игнорировать .phpcs.xml.dist
# 20170502 игнорировать композитор.lock
# 20170502 игнорировать компоненты, загруженные через Bower
# 20150326 игнорировать каталог сборки Jekyll `/_site`
# 20150324 Файл реорганизован так, что сначала игнорируется список, а в белый список добавляется последним.
#           изменить ссылку WordPress .gitignore на предпочтительную суть,
#           добавить линию завитка для быстрой установки
#           игнорировать файлы композитора (каталог поставщика и файл блокировки)
# 20140606 Добавить .editorconfig в качестве отслеживаемого файла.
# 20140418 удалить явное включение
#           файла readme.md (по умолчанию это не игнорируемый файл)
№ 20140407 Первоначально опубликовано
#
# -------------------------------------------------- ----------------

# игнорировать все файлы, начинающиеся с . или ~
. *
~ *

# игнорировать каталоги зависимостей узлов/ворчания
node_modules /

# Игнорировать каталоги сборки.
/ построить
/ расст.

# игнорировать каталог поставщика композитора
/ продавец

# игнорировать компоненты, загруженные через Bower
/ bower_comComponents

# игнорировать каталог сборки Jekyll
/ _сайт

# игнорировать файлы, сгенерированные ОС
ehthumbs.db
Thumbs.db

# игнорировать файлы редактора
* .sublime-проект
* .sublime-рабочее пространство
* .комодопроект

# игнорировать файлы журналов и базы данных
* .log
* .sql
* .sqlite

# игнорировать скомпилированные файлы
* .com
* .класс
* .dll
* .exe
* .о
* .so

# игнорировать упакованные файлы
* .7z
* .dmg
* .gz
* .iso
* .jar
* .rar
* .tar
* .zip

# игнорировать личные/секретные файлы
* .der
* .ключ
* .pem

# -------------------------------------------------- -------
# НАЧАТЬ явно разрешенные файлы (т.е. НЕ игнорировать их)
# -------------------------------------------------- -------

# отслеживать эти файлы, если они существуют
! .editorconfig
! .env.example
! .git-blame-ignore-revs
! .gitignore
! .nvmrc
! .phpcs.xml.dist